doctype html
html(lang="en" class="no-js")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title

        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='https://d3js.org/d3.v4.min.js')

        block css
        block js
        block scripts
        block morehead


    body
        block content
        block footerjs
