.navbar.navbar-default
    .container
        .navbar-header 
            a(href="/").navbar-brand Bridges
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
             if (!user)
                li 
                    a(href="/login") Log In 
             if (user)
                li
                    a(href="/home")=user.username
                li
                    a(href="/logout") Log Out   
.container.clearfix
