extends ../includes/boilerplate.jade
block content
    include ../includes/header.jade 
    div(style="margin:5%")
        - for (var x = 0; x < usernames.length; x++)
            a(href="/assignments/"+assignmentID+"/"+usernames[x],
                style="float:left;width:100px; margin-left:50px")
                div(style="height:100px; background-color:steelblue; border-radius:100px;")
                h4(style="text-align: center") #{usernames[x]}
