extends layout

block js
    script(src = '/components/d3/d3.min.js')
    script.
        var data = !{JSON.stringify(data)}
        
        if (data[0].colors) 
            var colors = data[0].colors        
        
        var nodes = data[0].nodes
        var links = data[0].links
        
        var assignmentID = !{JSON.stringify(assignmentID)}
    script(src = '/js/graph.js')
    script(src = '/components/jquery/dist/jquery.min.js')
    script.
        function toggleShare (selected) {
            $.ajax({
                url: "/assignments/"+assignmentID+"/share/"+selected,
                type: "post"
            }).done(function() {
                console.log("visibility updated")
            }).error(function(err){
                console.log(err)    
            });    
            
        }    
block options
        
