extends layout

block js
    script(src = '/components/d3/d3.min.js')
    script.
        var data = !{JSON.stringify(data)}
        
        var nodes = data[0].nodes
        var links = data[0].links
        
        var assignmentID = !{JSON.stringify(assignmentID)}
    - if (vistype == "nodelink")
        script(src = '/js/graph.js')
    - else
        script(src = '/js/bst/lib/bst.js')
    script(src = '/components/jquery/dist/jquery.min.js')
    script.
        function toggleShare (selected) {
            $.ajax({
                url: "/assignments/"+assignmentID+"/share/"+selected,
                type: "post"
            }).done(function() {
                console.log("visibility updated")
            }).error(function(err){
                console.log(err)    
            });    
            
        }   
        function setvis (selected) {
            $.ajax({
                url: "/assignments/"+assignmentID+"/vistype/"+selected,
                type:"post"
            }).done(function() {
                location.reload()
                console.log("visualization type updated")    
            }).error(function(err) {
                errmsg = JSON.parse(err.responseText)
                console.log("Error: "+errmsg.error) 
            });
        }
        
