.assignmentContainer{
    border-color:steelblue;
    border-style:solid;
    border-radius:25px;
    padding:6px;
    margin-left:20px;
    margin-right:20px;
    width:70%;
    float: left;
    margin-bottom: 10px;
    min-height: 350px;
}

#vis{
    width:70%;
    height:80%;
    position:absolute;
    overflow: scroll;
    float:left;
}

.vis{
    width:70%;
    height:600px;
    position:absolute;
    overflow: scroll;
    float:left;
}

#optionContainer{
    max-width:20%;
    left: 75%;
    height:300px;
    position:fixed;
    
}
#assignmentCanvas{
    min-width:801px;
    border-radius:25px;
}

#reset {
    margin-left: 25%;
    width:50%;
}

