.assignmentContainer{
    border-color:steelblue;
    border-style:solid;
    border-radius:25px;
    padding:6px;
    margin-left:10px;
    margin-right:30%;
    width:75%;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 500px;
}

.assignmentContainer .maximized{
    height: 10%;
}

.optionContainer{
    border-color:steelblue;
    border-style:solid;
    border-radius:25px;
    padding:6px;
    margin-left:10px;
    margin-right:30%;
    width:75%;
    float: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    min-height: 250px;
    overflow: auto;/*hide the scrollbar if not needed, chrome and ie tested*/
}

.assignmentContainerMinimized {
    border-color:steelblue;
    border-style:solid;
    border-radius:25px;
    padding:6px;
    margin-left:10px;
    margin-right:30%;
    width:75%;
    float: left;
    margin-bottom: 10px;
    min-height: 25px;
    height: 35px;
    background-color: lightsteelblue;
}


#vis{
    width:70%;
    height:90%;
    position:absolute;
    overflow: auto;/*hide the scrollbar if not needed, chrome and ie tested*/
    float:left;
}

.vis{
    width:70%;
    overflow: auto;/*hide the scrollbar if not needed, chrome and ie tested*/
    float:left;
}

.svg {
    height: inherit;
}

#optionContainer{
    max-width:28%;
    left: 70%;
    min-height:240px;
    max-height:80%;
    position:fixed;
}

#mapContainer{
    max-width:20%;
    left: 75%;
    top: 7%;
    width: 20%;
    height:250px;
    position:fixed;
}

.mapContainer{
    border-color:steelblue;
    border-style:solid;
    border-radius:25px;
    padding:6px;
    margin-left:10px;
    margin-right:30%;
    float: left;
    margin-bottom: 5px;
    margin-top: 350px;
    height: 350px;
}


#assignmentCanvas{
    min-width:801px;
    border-radius:25px;
}

.optionButton {
    margin-left: 25%;
    width:50%;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}


.minimize {
    position: relative;
    background-color:lightsteelblue;
    border-color:steelblue;
    border-radius: 25px;
    float: left;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    line-height: 15px;
    font-weight: bolder;
}

.gallery_assignment_container {
  float:left;
  width:160px;
  height:240px;
  margin-left:20px;
  margin-bottom:10px;
  overflow: hidden;
}

.gallery_assignment_div_private{
    height:120px;
    width:120px;
    margin-left: 20px;
    border-style: solid;
    border-width:4px;
    border-style: outset;
    border-color:red;
    border-radius:10px;
    background: -webkit-linear-gradient(white, #FFFAFA);
    background: -o-linear-gradient(white, #FFFAFA);
    background: -moz-linear-gradient(white, #FFFAFA);
    background: linear-gradient(white, #FFFAFA);
    box-shadow: 2px 2px 8px #888888;
}

.gallery_assignment_div_public{
     margin-left: 20px;
    height:120px;
    width:120px;
    border-style: solid;
    border-width:4px;
    border-style: outset;
    border-color:blue;
    border-radius:30px;
    background:-webkit-linear-gradient(white, #F1FAFF);
    background: -o-linear-gradient(white, #F1FAFF);
    background: -moz-linear-gradient(white, #F1FAFF);
    background: linear-gradient(white, #F1FAFF);
    box-shadow: 2px 2px 8px #888888;
}

.gallery_assignment_div_public:hover, .gallery_assignment_div_private:hover{
    box-shadow:none;
    background:white;
    border-width:4px;
    border-style: inset;
}

.gallery_links{
    padding-top: 10px;
    text-align: center;
    /*text-shadow: 1px 0px #C0C0C0;*/
    color: #262626;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gallery_links:hover{
    text-shadow: none;
    color:#888888;
}

.gallery_link_title {
  font-size: 110%;
}

.gallery_link_small {
  font-size: 70%;
}

table.full {
    width: 97%;
}

td.left {
    width: 3%;
    vertical-align: middle;
}

td.right {
    width: 97%;
    vertical-align: middle ;
}

#assignmentTitle {
    padding-left: 50px;
    padding-bottom: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 180%;
    max-width: 50%;
}

#assignmentDescription {
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;
    /*max-width: 95%;*/
}

#updateStatus {
    text-align: -webkit-center;
    text-align: center;
    display: none;
    position: fixed;
    width: 20%;
    left: 40%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
