.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    float:left;
    padding-left:0;
    margin:0;
    border:0;
    width: 40%;
    
}
.container{
    padding-left:0;
}

.carousel-pos{
    position: absolute;
    left: -760px;
    top: -30px;
}

.hide_small_gallery{
    display:none;
}
