extends ../includes/boilerplate.jade 
block content 
    include ../includes/header.jade 
    .container
        .col-lg-6(style = "float:left; min-height:500px;")
            h1 Welcome to Bridges!
            p Creating a bridge between your assignments and the world
            div(style="margin-top:30px;")
                block info
        .col-lg-6(style = "float:right")
            block validate
        .col-lg-6(style = "float:right")
            block form
        .col-lg-6(style = "float:right; margin-top: 25px;")
            block js
