extends ../includes/boilerplate.jade
block css
    link(rel='stylesheet',
            href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

block content
    include ../includes/header.jade
    .container

      .col-lg-6(style = "float:right; margin-top: 25px;")
          block js
      .col-lg-6(style = "position:absolute;max-height:450px;")
              block info
      .col-lg-6(style = "float:left; position:relative; margin-top:200px")
              block datasources
      .col-lg-6(style = "float:right")
          block validate
      .col-lg-6(style = "float:right")
          block form