doctype 5
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css') 
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        block css
        script(src='http://localhost:35729/livereload.js')
        block js
    body
        include ../includes/header.jade
        .container
            .col-lg-6
                h1 Welcome to Bridges!
                p Creating a bridge between your assignments and the world
            .col-lg-6
                block form
            .col-lg-6
                block info
            .col-lg-6
                block validate 
