extends ../layout

block content
    .page-header
    .container
        .row
            .col-lg-6
                h1 Welcome to Bridges!
                p Create a bridge between your assignements and the world
