extends ../includes/boilerplate.jade

block content
    include ../includes/header.jade
    .container
        .row
            .col-lg-6
                h1 Welcome to Bridges!
                p Create a bridge between your assignments and the world
