extends ../layout

block content
      block content
        .wrapper
            .container
                .main-content
            .main-head
                block main
                    babayaga
