extends ../includes/boilerplate.jade

block css
    link(rel='stylesheet',      
         href='/css/header.css')
    link(rel='stylesheet' href='/css/contact-buttons.css')
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
block content
    include ../includes/header.jade

    .container
        .row
            .col-lg-6
                h1 Welcome to Bridges!
                p Create a bridge between your assignments and the world

    include ../includes/gallery.jade
    script(src='/js/jquery.contact-buttons.js')
    script(src='/js/side-bar.js')