doctype 5
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css') 
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        block css
        script(src='http://localhost:35729/livereload.js')
        block js
    body
        block content            
